* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --bg-color-: hsl(47, 88%, 63%);
    --card-color-: hsl(0, 0%, 100%);
    --text-: 500;
    --title-: 800;
    --gray-500-: hsl(0, 0%, 42%);
    --gray-950-: hsl(0, 0%, 7%);
}

body {
    height: 100vh;
    background-color: var(--bg-color-);
    line-height: 1.6;
    font-family: figtree;
}

.container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 10px;
}

.card {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 1.5rem;
    border: 1px solid black;
    border-radius: 20px;
    background-color: var(--card-color-);
    box-shadow: 10px 8px black;
}



h2, h3, h4 {
    font-weight: var(--title-);
    color: var(--gray-950-);
}

h2 {
    margin-bottom: 8px;
    cursor: pointer;
}

h2:active {
    color: var(--bg-color-);
    cursor: pointer;
}

h3 {
    max-width: 110px;
    padding: 4px 0;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 8px;
    background-color: var(--bg-color-);
}

.text {
    max-width: 350px;
    font-size: 16px;
    font-weight: var(--text-);
    color: var(--gray-500-);
}

footer {
    display: inline-flex;
    align-items: center;
    gap: 0.8em;
}

.name {
    color: var(--gray-950-);
    font-weight: var(--title-);
}

@media only screen and (max-width: 768px) {
    .card {
        width: 355px;
        padding: 20px;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }